{% extends "base.html" %}


{% block title %}
<title>add patients</title>

{% endblock title %}
{% block content %}
<div class="text-center mt-2 ">
    <a href="/" class="text-light fs-1">Home</a>


</div>

<div class="container mt-5">
    <form class="col-8 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Patient</h2>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Patient Name</label>
            <input name="patient_name" type="text" class="form-control" placeholder="Enter name">
        </div>

       <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Address</label>
            <input name="address" type="text" class="form-control" placeholder="Enter address">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Age</label>
            <input name="patient_age" id="age" type="number" class="form-control" min="0" max="150"
                placeholder="Enter age">

        </div>
       <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contact</label>
            <input name="content" type="number" class="form-control" placeholder="Enter contact">
        </div>




        <div class="row mb-3">
            <div class="col">
                <label for="gender" class="form-label">Gender</label>
                <select name="gender" id="gender" class="form-select">
                    <option value="" disabled selected>Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>

                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-success">Add Patient</button>


    </form>



</div>

{% endblock content %}